{:lein         {:profile "+dev"}
 :source-paths ["src" "env"]
 :builds       {:app   {:target     :browser
                        :output-dir "resources/public/js"
                        :asset-path "/js"
                        :modules    {:app {:entries [d3-reagent-sandbox.core]}}
                        :devtools   {:after-load d3-reagent-sandbox.core/mount-root}}
                :cards {:target           :browser
                        :output-dir       "resources/public/js"
                        :asset-path       "/js"
                        :modules          {:cards {:entries [d3-reagent-sandbox.cards]}}
                        :compiler-options {:devcards true}
                        :devtools   {:after-load d3-reagent-sandbox.core/mount-root}}}
 
 :dev-http {3000 {:root    "resources/public"
                  :handler d3-reagent-sandbox.handler/app}}}
